{% extends 'base.html' %}
{% load static %}

{% block title %}   Blog {% endblock title %}
{% block blogactive %}    active {% endblock blogactive %}

{% block body %}
{% block styleblog %}
    <style>
    a{
        text-decoration: none;
        color: black;
    }
    </style>
{% endblock styleblog %}

<!-- blog features -->
<div class="container mt-2" >
    <h1> Featured blog</h1>

    <div class="row">
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
              <a href="{% url 'readblog' %}">  <img src="{% static '1.jpg'%}" class="img-fluid rounded-start py-2" alt="..."></a>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><a href="{% url 'readblog' %}">Top ten programming language to learn in 2023A.D.</a></h5>
                  <p class="card-text">
                    <a href="{% url 'readblog' %}">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                        This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    </a>
                  </p>
                  <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
                </div>
              </div>
            </div>
          </div>
    </div>

    <div class="row">
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{% static '1.jpg'%}" class="img-fluid rounded-start py-2" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Top ten programming language to learn in 2023A.D.</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  </p>
                  <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
                </div>
              </div>
            </div>
          </div>
    </div>


    <div class="row">
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{% static '1.jpg'%}" class="img-fluid rounded-start py-2" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Top ten programming language to learn in 2023A.D.</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  </p>
                  <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
                </div>
              </div>
            </div>
          </div>
    </div>


    <div class="row">
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{% static '1.jpg'%}" class="img-fluid rounded-start py-2" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Top ten programming language to learn in 2023A.D.</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  </p>
                  <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
                </div>
              </div>
            </div>
          </div>
    </div>


    <div class="row">
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{% static '1.jpg'%}" class="img-fluid rounded-start py-2" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Top ten programming language to learn in 2023A.D.</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  </p>
                  <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
                </div>
              </div>
            </div>
          </div>
    </div>


    <div class="row">
        <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
                <img src="{% static '1.jpg'%}" class="img-fluid rounded-start py-2" alt="...">
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">Top ten programming language to learn in 2023A.D.</h5>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                    This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
                  </p>
                  <!-- <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p> -->
                </div>
              </div>
            </div>
          </div>
    </div>



</div>
{% endblock body %}